---
description:
layout: base.njk
templateEngineOverride: md, njk
bodyClass: with-sidebar
---
{% include 'header.njk' %}
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.challenges -%}
      <li class="tdbc-card"> 
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
          <a href="{{ page.url }}" class="tdbc-button">Let's do it</a>
        </div> 
      </li>
      {%- endfor -%}
    </ul>
  </div>
  
{{ content | safe }}

</main>
