.sidebar {
  
  
  background-color: #efefef;
  @media (min-width: 55em) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20rem; 
}
}

body.with-sidebar {
  @media (min-width: 55em) {padding-left: 20rem;}
}